<div ng-cloak>
    <div class="backgroundImage">
    <div class="centeredV">
     <span><h1>What's Important to you?</h1> </span>
     
     <form class ="inputForm" id="inputForm" action="/#/result">
       <div class='typeahead-demo' ng-controller="TypeaheadController">
         <span class= 'sameLine inputTitle' ><h3>Profession</h3></span>
         <input name= 'profession' class='sameLine' type="text" ng-model="selected" uib-typeahead="profession for profession in professions | filter:$viewValue | limitTo:8" class="form-control">
       </div>
       <hr />
       <div ng-controller="ButtonController">
         <span class= 'inputTitle' ><h3>Weather Preference</h3></span>
         <div name="weather" class="btn-group">
           <input type="hidden" name="weather" value={{radioModel}}></input>
           <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Warm'">Warm</label>
           <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Snowy'">Snowy</label>
           <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'DC'">Don't Care</label>
         </div>
       </div> 
        <hr />
       <div ng-controller="DropdownController" class='sameLine'>
         <div class="btn-group sameLine" uib-dropdown>
           <button id="split-button" type="button" class="btn">{{selectedItem}}</button>
           <input type="hidden" name="family" value={{selectedItem}}></input>
           <button type="button" class="btn" uib-dropdown-toggle>
             <span class="caret"></span>
             <span class="sr-only">Split button!</span>
           </button>
           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
             <li role="menuitem" ng-repeat="a in relationships"><a ng-click="dropboxitemselected(a)">{{a}}</a></li>
           </ul>
         </div>
       </div>
        <div  class='sameLine sameLinePadding'>
           <h3 class='sameLine'>Age</h3>
           <input class='sameLine ' min='0' name= 'age' type="number" ng-model="selected" class="form-control">
        </div>
       <hr />
       <div class='typeahead-demo' ng-controller="TypeaheadController">
         <span class= 'sameLine inputTitle' ><h3>Nationality</h3></span>
         <input name='nationality' class='sameLine' type="text" ng-model="selected" uib-typeahead="nationality for nationality in nationalities | filter:$viewValue | limitTo:8" class="form-control">
       </div>
       <hr />
       <div ng-controller="ButtonController">
         <span class= 'sameLine inputTitle' ><h3>Lifestyle</h3></span>
           <div  class="btn-group">
             <input type="hidden" name="lifestyle" value={{radioModel}}></input>
             <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Urban'" >Urban</label>
             <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Suburban'" >Suburban</label>
             <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Rural'" >Rural</label>
             <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'DC'">Don't Care</label>
           </div>
       </div> 
        
       <hr /> 
       <div>
         <input type="submit" value="Submit" class="btn btn-default" >
       </div>
     </form>
    </div>
    </div>
</div>


